@use 'font';
@use 'var';
@font-face {
    font-family: 'Archangelsk Regular';
    src: url(../font/Archangelsk\ Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@import url(./_font.scss);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

$roboto: 'Roboto', sans-serif;
$font: 'Archangelsk Regular', sans-serif;

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Archangelsk Regular', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    &__banner {
        width: 100%;
        height: 1000px;
        position: relative;
    }
    &__img-bnr {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 1000px;
        z-index: -9999;
    }
    &__logo-icon {
        display: flex;
        padding-top: 20px;
        align-items: center;
        @media (max-width: 720px) {
            flex-direction: column;
            gap: 10px;
        }
    }
    &__logo {
        width: 296px;
        height: 74px;
        display: block;
        flex-grow: 1;
        background-repeat: no-repeat;
        background-image: url(../images/logo.svg);
    }
    &__icon {
        display: flex;
        align-items: center;
        gap: 40px;
        a {
        width: 30px;
        height: 30px;
        display: block;
        transition: 0.2s;
        }
        @media (max-width: 420px) {
            gap: 30px;
            transition: 0.3s; 
        }
        @media (max-width: 370px) {
            gap: 20px;
            transition: 0.3s; 
        }
    }
    &__icon-you-tube {
        background-repeat: no-repeat;
        background-image: url(../images/icons/youtube.svg);
        &:hover {
            padding-top: 8px;
        }
    }
    &__icon-vk {
        background-repeat: no-repeat;
        background-image: url(../images/icons/vk.svg);
        transition: 0.2s;
        &:hover {
            padding-top: 8px;
        }
    }
    &__icon-fb {
        background-repeat: no-repeat;
        background-image: url(../images/icons/facebook.svg);
        transition: 0.2s;
        &:hover {
            padding-top: 8px;
        }
    }
    &__icon-twit {
        background-repeat: no-repeat;
        background-image: url(../images/icons/twitter.svg);
        transition: 0.2s;
        &:hover {
            padding-top: 8px;
        }
    }
    &__icon-tw {
        background-repeat: no-repeat;
        background-image: url(../images/icons/twitch.svg);
        transition: 0.2s;
        &:hover {
            padding-top: 8px;
        }
    }
    &__icon-in {
        background-repeat: no-repeat;
        background-image: url(../images/icons/vector.svg);
        transition: 0.2s;
        &:hover {
            padding-top: 8px;
        }
    }
    &__background-container {
        display: flex;
        
    }
    &__box {
        padding-top: 503px;
        display: flex;
        justify-content: end;
        @media (max-width: 720px) {
            padding-top: 463px;
        }
    }
    &__box-container {
        width: 624px;
        height: 403px;
        background-repeat: no-repeat;
        background-image: url(../images/background.png);
        @media (max-width: 1024px) {
            transition: 0.6s;
            padding-right: 36px;
        }
        @media (max-width: 495px) {
            width: 100%;
            height: 763px;
            margin-left: 142px;
            padding: 0;
            margin-top: 196px;
            background-image: url(../images/background-ligt.png);
         }
    }
    &__txt {
        margin: 0;
        width: 470px;
        padding-top: 30px;
        padding-left: 77px;
        font-size: 62px;
        font-weight: 400;
        line-height: 81px;
        font-family: $font;
        @media (max-width: 1024px) {
            width: 400px;
        }
        @media (max-width: 495px) {
            width: 295px;
            font-size: 30px;
            font-weight: 400;
            line-height: 39px;
            text-align: center;
            padding-left: 13px;
        }
    }
    &__button {
        color: #F8F200;
        padding: 19px 50px;
        margin-left: 79px;
        background-color: black;
        border: none;
        margin-top: 22px;
        cursor: pointer;
        transition: 0.3s;
        font-family: $roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        @media (max-width: 495px) {
            margin-top: 9px;
            font-size: 20px;
            padding: 10px 50px;
            margin-left: 38px;
        }
    }
}
.section-info {
    &__nigt-city {
        margin-top: 70px;
        margin-bottom: 0;
        font-size: 62px;
        font-weight: 400;
        line-height: 81px;
        @media (max-width: 1024px) {
            width: 620px;
        }
        @media (max-width: 570px) {
            padding-left: 12px;
            width: 257px;
            font-size: 30px;
            font-weight: 400;
            line-height: 39px;
        }
    }
    &__info {
        max-width: 100%;
        font-size: 18px;
        font-family: $roboto;
        font-weight: 400;
        line-height: 34px;
        margin-top: 7px;
        margin-bottom: 0;
        width: 950px;
        @media (max-width: 1024px) {
            margin-top: 10px;
            padding-left: 12px;
            width: 100%;
        }
    }
    &__img-content {
        display: flex;
        position: relative;
        padding-top: 70px;
        gap: 32px;
        @media (max-width: 1200px) {
            flex-direction: column;
        }
    }
    &__img-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        @media (max-width: 1200px) {
            flex-direction: row;
            width: 100%;
        }
        @media (max-width: 760px) {
           display: grid;
        }
    }
    &__city-img01 {
        width: 100%;
        height: 196px;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 196px
        }
    }
    &__city-img02 {
        width: 100%;
        height: 196px;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 196px
        }
    }
    &__big-city-con {
        width: 100%;
        height: 424px;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 424px
        }
    }
    &__layer-background {
        padding-top: 70px;
        width: 100%;
        height: 70px;
        position: relative;
        overflow: hidden;
        @media (max-width: 620px) {
            padding-top: 140px;
         }
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 70px;
        }
    }
}

.main {
    margin-top: -36px;
    background-color: black;
    @media (max-width: 620px) {
        margin-top: -71px;
     }
    &__play-game {
        display: flex;
        align-items: flex-end;
        gap: 32px;
        @media (max-width: 1300px) {
            padding-left: 36px;
            align-items: start;
            flex-direction: column;
        }
    }
    &__promo {
        display: flex;
        position: relative;
        padding-top: 15px;
        align-items: center;
    }
    &__promo-text {
        padding-top: 15px;
        padding-left: 24px;
        display: inline-block;
        transform: rotate(311deg);
        transform-origin: center;
        position: absolute;
        color: #F8F200;
        font-family: "Archangelsk Regular", sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 39px;
    }
    &__play {
        font-size: 62px;
        font-weight: 400;
        line-height: 62px;
        color: white;
        margin: 0;
        @media (max-width: 372px) {
            font-size: 30px;
        }
    }
    &__info-txt {
        margin-top: 21px;
        margin-bottom: 0;
        max-width: 100%;
        width: 952px;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 34px;
        color: white;
        @media (max-width: 1300px) {
            padding-left: 36px;
            width: 460px;
        }
        @media (max-width: 510px) {
            padding-left: 12px;
            width: 296px;
        }
    }
    &__console {
        @media (max-width: 1300px) {
            padding-left: 36px;
        }
        @media (max-width: 510px) {
            padding-left: 12px;
        }
    }
    &__input-console {
        display: flex;
    }
    &__form-container {
        margin-top: 98px;
        display: flex;
        flex-direction: column;
        max-width: 460px;
        @media (max-width: 510px) {
            margin-top: 70px;
            width: 270px;
        }
    }
    &__form-container:nth-child(2) {
        margin-top: 35px;
    }
    &__form-input {
        border: none;              
        border-bottom: 1px solid #ffffff6f;
        background: transparent;
        color: #ffffff;
        font-size: 14px;
        padding: 5px 0;
        outline: none;
        padding-bottom: 14px;
    }
    &__upload-container {
        margin-top: 35px;
        border: 2px dashed #ffffff75;
        background-color: transparent;
        text-align: center;
        padding: 39px;
        max-width: 460px;
        @media (max-width: 510px) {
            margin-top: 35px;
            width: 190px;
        }
     }
    &__upload-input {
        display: none;
    }
    &__upload-title-txt {
        font-size: 18px;
        font-weight: bold;
        color: #ffffff63;
        text-decoration: underline;
        margin: 0;
        font-family: $roboto;
        cursor: pointer;
        @media (max-width: 510px) {
            font-size: 16px;
        }
    }
    &__upload-formats {
        font-size: 14px;
        color: #aaa;
        margin: 5px 0 0;
        font-family: $roboto;
    }
    &__upload-container:hover {
        cursor: pointer;
    }
    &__button {
        margin-top: 54px;
        padding: 15px 50px;
        border: none;
        background-color: #F8F200;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        transition: 0.3s;
    }
    &__button:hover {
        background-color: #fffd8c;
    }
    &__checkbox-container {
        width: 375px;
        margin-top: 15px;
        display: flex;
        align-items: flex-end;
        font-family: Arial, sans-serif;
        color: #fff;
        margin-bottom: 70px;
        @media (max-width: 420px) {
            font-size: 12px;
        }
    }
    &__hidden-checkbox {
        display: none;
    }
    &__custom-checkbox {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        cursor: pointer;
    }
    &__custom-checkbox &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 2px solid #fff;
        background-color: transparent;
        border-radius: 2px;
    }
    &__custom-checkbox &__checkmark::after {
        content: '';
        position: absolute;
        display: none;
        left: 7px;
        top: 1px;
        width: 4px;
        height: 11px;
        border: solid #ff0;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    } 
    &__hidden-checkbox:checked + .checkmark {
        background-color: #000;
        border-color: #ff0;
    }
     &__hidden-checkbox:checked + &__checkmark::after {
        display: block;
    }
    &__checkbox-label {
        font-size: 16px;
        @media (max-width: 420px) {
            font-size: 12px;
        }
    }
    &__console-block {
        width: 100%;
        display: flex;
    }
    &__consol-ps {
        margin-top: 25px;
        width: 100%;
        position: relative;
        overflow: hidden;
        z-index: 9999;
        @media (max-width: 1150px) {
            display: none;
        }
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
        }
    }
    &__consol-box {
        margin-top: 25px;
        width: 100%;
        position: relative;
        overflow: hidden;
        left: -118px;
        @media (max-width: 1150px) {
            display: none;
        }
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
        }
    }
    &__vertical-cosole {
        display: none;
        /*@media (max-width: 1150px) {
            margin-top: 25px;
            width: 100%;
            position: relative;
            overflow: hidden;
            left: -118px;
            display: block;
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -o-object-fit: cover;
                object-fit: cover;
                width: 100%;
            }
        }*/
    }
}

.dive {
    background-color: #F8F200;
    &__flex-block {
        display: flex;
        gap: 32px;
        @media (max-width: 890px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__background-yellow {
        width: 100%;
        height: 69px;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 70px;
        }
    }
    &__pc-block-info {
        margin-top: 70px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__pc {
        width: 624px;
        height: 430px;
        position: relative;
        overflow: hidden;
        @media (max-width: 1010px) {
            width: 460px;
        }
        @media (max-width: 500px) {
            height: 204px;
            width: 296px;
        }
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
        }
    }
    &__info-quality {
        display: flex;
        margin-top: 31px;
        flex-direction: column;
    }
    &__icon-container {
        margin-top: 26px;
        display: flex;
        align-items: center;
        gap: 13px;
        @media (max-width: 1010px) {
            flex-direction: column;
        }
        @media (max-width: 890px) {
            flex-direction: row;
        }
        @media (max-width: 560px) {
            flex-direction: row;
            img {
                margin-top: 20px;
                width: 100%;
            }
        }
    }
    &__info-txt-container {
        max-width: 624px;
        margin-top: 47px;
        h1 {
            font-size: 62px;
            font-weight: 400;
            line-height: 81px;
            font-family: $font;
            margin: 0;
            @media (max-width: 410px) {
                font-size: 30px;
                font-weight: 400;
                line-height: 39px;
            }
        }
        @media (max-width: 890px) {
            padding-left: 12px;
        }
    }
    &__txt-info {
        font-family: $roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 34px;
        margin: 0;
        @media (max-width: 410px) {
            font-size: 16px;
        }
    }
    &__icon-description {
        font-family: $roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 34px;
        margin-top: 13px;
        margin-bottom: 0;
        display: flex;
        gap: 13px;
    }
    &__button {
        margin-top: 40px;
        padding: 15px 50px;
        border: none;
        background-color: #000;
        color: #F8F200;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        transition: 0.3s;
        margin-bottom: 80px;
        &:hover {
            color: #000;
            background-color: #fffd8c;
        }
    }
}

.buy {
    &__flex-container-buy {
        display: flex;
        background-color: #000000;
        @media (max-width: 690px) {
            flex-direction: column;
        }
    }
    &__img-container {
        width: 100%;
        height: 717px;
        position: relative;
        @media (max-width: 690px) {
            flex-direction: column;
            height: 392px;
        }
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 717px;
            @media (max-width: 690px) {
                height: 392px;
            }
        }
    }
    &__container-info {
        margin-left: 35px;
        margin-top: 35px;
        width: 100%;
        @media (max-width: 545px) {
            margin-left: 12px;
        }
    }
    &__buy-game {
        font-family: $font;
        max-width: 624px;
        font-size: 62px;
        font-weight: 400;
        line-height: 81px;
        margin: 0;
        color: #FFFFFF;
        @media (max-width: 545px) {
            max-width: 296px;
            font-size: 30px;
            font-weight: 400;
            line-height: 39px;
        }
    }
    &__set {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 15px;
        margin-top: 21px;
        color: #52BEDC;
        @media (max-width: 545px) {
            margin-top: 9px;
            margin-bottom: 22px;
            font-size: 20px;
        }
    }
    &__info-quality {
        display: flex;
        flex-direction: column;
        gap: 26px;
        p {
            margin: 0;
            color: #FFFFFF;
            @media (max-width: 505px) {
                max-width: 250px;
                font-size: 16px;
            }
        }
    }
    &__icon-description {
        font-family: $roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        display: flex;
        gap: 11px;
        align-items: center;
    }
    &__platform {
        color: #52BEDC;
        margin-top: 75px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
    }
    &__grid-box {
        width: 100px;
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 50px;
        @media (max-width: 335px) {
            gap: 25px;
            transition: 0.3s;
        }
    }
}

.footer {
    &__footer-container {
        display: flex;
        @media (max-width: 940px) {
            align-items: center;
            flex-direction: column;
        }
    }
    &__logo-container {
        display: flex;
        align-items: center;
        margin: 13px 0 13px 0;
        gap: 32px;
        flex-grow: 1;
        @media (max-width: 545px) {
            align-items: center;
            flex-direction: column;
        }
    }
    &__license-container {
        padding: 40px 0 39px 0;
        display: flex;
        align-items: center;
        gap: 32px;
        @media (max-width: 425px) {
            align-items: center;
            flex-direction: column;
        }
        p {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            cursor: pointer
        }
    }
}

.and {
    background-color: #000;
    &__flex-block {
        display: flex;
        justify-content: center;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        padding: 13px 0 13px 0;
        color: #FFFFFF
    }
}
